* {
    margin: 0;
    padding: 0;
}
*,
:before,
:after {
	box-sizing: border-box;
}
body {
    margin: 0;
    padding: 50px;
}
body, select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}
form {
    width: 50%;
}
form li.form-group {
    margin-bottom: 1em;
    list-style-type: none;
}
fieldset {
    border: 0;
}