// Variables

@ff-icon-color: #8f8f8f;
@ff-icon-color-checked: #39a2a6;
@ff-font-path: "fonts";

// Font

@font-face {
	font-family: 'fancy-form';
	src:url('@{ff-font-path}/fancy-form.eot');
	src:url('@{ff-font-path}/fancy-form.eot?#iefix') format('embedded-opentype'),
		url('@{ff-font-path}/fancy-form.woff') format('woff'),
		url('@{ff-font-path}/fancy-form.ttf') format('truetype'),
		url('@{ff-font-path}/fancy-form.svg#fancy-form') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Icons

.ff-icon-checkbox {
	content: "\e600";
}
.ff-icon-checkbox-checked {
	content: "\e601";
}
.ff-icon-radio {
	content: "\e602";
}
.ff-icon-radio-checked {
	content: "\e603";
}

// Checkbox

.ff-checkbox label i, 
.ff-radio label i {
    display: inline-block;
    font-family: 'fancy-form';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    color: @ff-icon-color;
}
.ff-checkbox {
    label {
        cursor: pointer;
        
        &.checkbox-inline {
            padding-left: 0;
        }
        i {
            margin-right: 5px;
            
            &:before {
                .ff-icon-checkbox();
            }
        }
    }
    input[type="checkbox"]:checked + label {
        i {
            color: @ff-icon-color-checked;
            
            &:before {
                .ff-icon-checkbox-checked();
            }
        }
    }
    input[type="checkbox"] {
        display: none;
    }
}

// Radio Button

.ff-radio {
    label {
        cursor: pointer;
        
        &.radio-inline {
            padding-left: 0;
        }
        i {
            margin-right: 5px;
            &:before {
                .ff-icon-radio();
            }
        }
    }
    input[type="radio"]:checked + label {
        i {
            color: @ff-icon-color-checked;
            
            &:before {
                .ff-icon-radio-checked();
            }
        }
    }
    input[type="radio"] {
        display: none;
    }
}
